@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-page-handler="DoStuff" asp-route-id="@Model.Activity.ID">
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
    </div>
    <div class="mt-5">
        <h4>Current Random Activity to Cure Your Boredom</h4>
        <div class="col-12 mt-2">
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;">Activity</label>
                </div>
                <div class="col-11">
                    <input id="description1" name="description1" class="form-control" asp-for="Activity.Description"
                        readonly="readonly" style="background-color: lightgrey;" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;" title="Type of the activity"><u>Type</u></label>
                </div>
                <div class="col-11">
                    <input id="type1" name="type1" class="form-control" asp-for="Activity.Type" readonly="readonly"
                        style="background-color: lightgrey;" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="The number of people that this activity could involve"><u>Participants</u></label>
                </div>
                <div class="col-11">
                    <input id="participants1" name="participants1" class="form-control" asp-for="Activity.Participants"
                        readonly="readonly" style="background-color: lightgrey;" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="A factor describing the cost of the event with zero being free"><u>Price</u></label>
                </div>
                <div class="col-11">
                    <input class="form-control" asp-for="Activity.LongPrice" readonly="readonly"
                        style="background-color: lightgrey;" />
                    <input id="price1" name="price1" type="hidden" asp-for="Activity.Price" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="A factor describing how possible an event is to do with zero being the most accessible"><u>Accessibility</u></label>
                </div>
                <div class="col-11">
                    <input class="form-control" asp-for="Activity.LongAccessibility" readonly="readonly"
                        style="background-color: lightgrey;" />
                    <input id="accessibility1" name="accessibility1" type="hidden" asp-for="Activity.Accessibility" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <input type="radio" id="good1" name="rbl1" value="Good" onchange="this.form.submit()">
                    <label for="good1">Good Activity</label>
                </div>
                <div class="col-2">
                    <input type="radio" id="bad1" name="rbl1" value="Bad" onchange="this.form.submit()">
                    <label for="bad1">Bad Activity</label>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <h4>Query a Random Activity to Cure Your Boredom</h4>
        <div class="col-12 mt-2">
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;">Activity</label>
                </div>
                <div class="col-11">
                    <input id="description2" name="description2" class="form-control" readonly="readonly"
                        style="background-color: lightgrey;" asp-for="ActivityQueried.Description" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;" title="Type of the activity"><u>Type</u></label>
                </div>
                <div class="col-11">
                    <select id="type2" name="type2" class="form-control" asp-for="ActivityQueried.Type">
                        <option value=""></option>
                        <option value="busywork">busywork</option>
                        <option value="charity">charity</option>
                        <option value="cooking">cooking</option>
                        <option value="diy">diy</option>
                        <option value="education">education</option>
                        <option value="music">music</option>
                        <option value="recreational">recreational</option>
                        <option value="relaxation">relaxation</option>
                        <option value="social">social</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="The number of people that this activity could involve"><u>Participants</u></label>
                </div>
                <div class="col-11">
                    <input id="participants2" name="participants2" class="form-control"
                        asp-for="ActivityQueried.Participants" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="A factor describing the cost of the event with zero being free"><u>Price</u></label>
                </div>
                <div class="col-11">
                    <select id="longPrice2" name="longPrice2" class="form-control" asp-for="ActivityQueried.LongPrice">
                        <option value=""></option>
                        <option value="Free">Free</option>
                        <option value="Most likely cheap">Most likely cheap</option>
                        <option value="Approximately moderate">Approximately moderate</option>
                        <option value="Potentially expensive">Potentially expensive</option>
                    </select>
                    <input id="price2" name="price2" type="hidden" asp-for="ActivityQueried.Price" />
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label class="form-control" style="width: 150px;"
                        title="A factor describing how possible an event is to do with zero being the most accessible"><u>Accessibility</u></label>
                </div>
                <div class="col-11">
                    <select id="longAccessibility2" name="longAccessibility2" class="form-control"
                        asp-for="ActivityQueried.LongAccessibility">
                        <option value=""></option>
                        <option value="Few to no challenges">Few to no challenges</option>
                        <option value="Minor challenges">Minor challenges</option>
                        <option value="Major challenges">Major challenges</option>
                    </select>
                    <input id="accessibility2" name="accessibility2" type="hidden"
                        asp-for="ActivityQueried.Accessibility" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-1">
                <button type="submit" class="btn btn-primary" style="width: 100px;">Search</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-primary ml-4" style="width: 200px;"
                    onclick="clearQueryInputs()">Clear Search Parameters</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <input type="radio" id="good2" name="rbl2" value="Good" onchange="this.form.submit()">
                <label for="good2">Good Activity</label>
            </div>
            <div class="col-2">
                <input type="radio" id="bad2" name="rbl2" value="Bad" onchange="this.form.submit()">
                <label for="bad2">Bad Activity</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <label class="form-control">Total Activity Good/Bad Counts</label>
        <canvas class="mt-2" id="myChart1" width="400" height="100"></canvas>
    </div>
    <div class="row mt-4">
        <label class="form-control">Stored Type Count</label>
        <canvas class="mt-2" id="myChart2" width="400" height="100"></canvas>
    </div>
</form>

<script type='text/javascript'>

    var totalGoodCount = @Html.Raw(Json.Serialize(@Model.TotalGood));
    var totalBadCount = @Html.Raw(Json.Serialize(@Model.TotalBad));

    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var myChart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Total Good Activities', 'Total Bad Activities'],
            datasets: [{
                data: [totalGoodCount, totalBadCount],
                backgroundColor: ['rgba(40,167,69,0.8)', 'rgba(220,53,69,0.8)'],
                borderColor: ['rgba(40,167,69,0.8)', 'rgba(220,53,69,0.8)']
            }]
        },
        options: {
            legend: {
                display: false
            },
            plugins: {
                title: {
                    display: false
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var labels = @Html.Raw(Json.Serialize(@Model.Types));
    var activities = @Html.Raw(Json.Serialize(@Model.Activities));

    var data = [];
    let colors = ['rgb(195, 252, 116,0.8)', 'rgb(59, 121, 130,0.8)', 'rgb(38, 59, 153,0.8)', 'rgb(155, 54, 145,0.8)', 'rgb(124, 226, 180,0.8)', 'rgb(158, 82, 122,0.8)', 'rgb(18, 11, 38,0.8)', 'rgb(90, 155, 252,0.8)', 'rgb(234, 7, 189,0.8)'];

    for (var i = 0; i < labels.length; i++) {
        var label = labels[i];
        var count = 0;
        for (var j = 0; j < activities.length; j++) {
            activity = activities[j];
            if (label == activity.type) {
                count++;
            }
        }
        data.push(count);
    }

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                backgroundColor: colors,
                borderColor: colors
            }]
        },
        options: {
            legend: {
                display: false
            },
            plugins: {
                title: {
                    display: false
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    function clearQueryInputs() {
        document.getElementById('type').value = "";
        document.getElementById('participants').value = "";
        document.getElementById('price').value = "";
        document.getElementById('accessibility').value = "";
    }
</script>